#f1rst{
    


   background-color: white;
   width: cover;
   height: 50px;
   background: url(snow07-05.gif);





}
#wsd{

	height: 50px;
	width: 400px;
}
#header{

   width: 1000px;
   height: 400px;
   background-image: url(777.png);
   background-color: blue;

}
body{


	background: url(snow07-05.gif);
}
#butt{
	height: cover;
	width: cover;
	background: url(Безымянный.jpg);
}
#DDD{
	text-decoration: none;
	color: gold;	

}
#pdng{

	 border-radius: 25px;
}
#DDmrZxc{

	size: 100%;
}
#FGD{ 

   height: 350px;
   width: 400px;
   border-radius: 30px;
 }
 #mgiu{
 	border-radius: 25px;
 	height: 470px;	
 }
 #dsd{

   height: 50px;
   width: 400px;

 }
 #Italya{

 	height: 50px;
 	width: 400px;
 }
 #sssdd{
   
   
   height: 50px;
 	width: 400px;

 }
 #sdsdsdsd{

    height: 180px;
    width: 600px;

 }
 #hjd{

    height: 50px;
 	width: 400px;

 }
 #fghj{
    border-radius: 25px;

 }
 #kntntlnk{

    text-decoration: none;
    color: black;
    height: 100px;
    width: 300px;

 }
 #kntntlnk:hover{

  color: red;


 }